<html>

<head>
<title>(C)Shi-chan Oekaki Shi-Chat PaintChat Simple</title>
</head>

<body bgcolor="#CCCCFF" text="#505078" link="#FF0000" vlink="#800080" alink="#FF00FF" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<applet code="paintchat_client.Client.class" archive="pchat.jar" name="paintchat" width="100%" height="100%" align="left" codebase="./" MAYSCRIPT>
	<param name="dir_resource" value="./res/">
	<param name="tt.zip" value="tt_def.zip">
	<param name="res.zip" value="res.zip">
	<param name="tools" value="normal">
	<param name="tool_align" value="left">

	<param name="server" value=".paintchat">
	<param name="exit" value="index.html">
	
	<param name="tp.au" value="_">
	
	<param name="scriptable" value="true">
	<param name="MAYSCRIPT" value="true">
</applet>

</body>
</html>
