<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head>
                       
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                 
  <style>
td{
border:1px solid black;
}
  </style><title>PaintChatの簡易操作方法</title>
  <meta name="author" content="しぃちゃん"></head><body style="background-color: rgb(204,204,255); color: rgb(80,80,120);" link="#0000ff" vlink="#800080" alink="#ff0000">
           
<span style="color: rgb(0,0,153);">*右クリックはctrlかaltかCommandキー+クリックで代用可能。</span><br>
<span style="color: rgb(102,0,0);"><br>
<br>
入退室や発言に付いて</span><br>
<div style="margin-left: 40px;">名前を入力後エンターか入室ボタンで入室。入室後はエンターで発言。<br>
退室はブラウザを閉じるか退室ボタン。<br>
</div>
<br>
<span style="color: rgb(102,0,0);">会話欄の機能に付いて</span><br>
<div style="margin-left: 40px;">会話欄（チャットのテキスト部分）を右クリック（ctrl+クリックでも化）でポップアップが出現。<br>
<span style="color: rgb(0,0,102);">CopyString</span> テキストを発言欄へコピー。<br>
<span style="color: rgb(0,0,102);">GotoURL</span> その行にあるURL先を表示。<br>
<span style="color: rgb(0,0,102);">ToHTML</span> チャットのログをHTML化して表示。(<span style="color: rgb(153,0,0);">JavaScriptをOnにして置く必要あり。Macでは動作確認できず</span>)<br>
<span style="color: rgb(0,0,102);">FontSize</span> フォントのサイズを変更。<br>
<span style="color: rgb(0,0,102);">Erase</span> テキストのログを消去。<br>
<span style="color: rgb(0,0,102);">SmoothScroll</span> テキストのスクロールを滑らかにするかどうか。<br>
</div>
<br>
<br>
<span style="color: rgb(102,0,0);">お絵かきのやり方</span><br>
<div style="margin-left: 40px;">マウス等を一回押してから離すまでで殆どの作業が完了。<span style="color: rgb(153,0,0);">オプション的な機能はほぼ全て右クリック。</span><br>
Ctrl+Alt+ドラッグで線幅の変更。<br>
<span style="color: rgb(0,0,102);">キャンバス右クリック一覧表</span><br>
</div>
<table cellpadding="2" cellspacing="2" border="1" style="text-align: left; margin-left: 40px;">
  <tbody>
    <tr>
      <td valign="top">キャンバス<br>
      </td>
      <td valign="top"> 色のコピー<br>
      </td>
    </tr>
    <tr>
      <td valign="top">透明な場所<br>
      </td>
      <td valign="top">消しゴム選択<br>
      </td>
    </tr>
    <tr>
      <td valign="top">少しでも透明でない場所<br>
      </td>
      <td valign="top">消しゴム以外選択<br>
      </td>
    </tr>
    <tr>
      <td valign="top">描いている途中<br>
      </td>
      <td valign="top">簡易キャンセル。<br>
水彩やisOverDrawと言う設定が適用されているペンには効きません。<br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<span style="color: rgb(102,0,0);">シンプルモード</span><br>
<div style="margin-left: 40px;">絵チャットではこちらがお勧め。以前のバージョンに似ている。<br>
ツールバーのアイコンドラッグでリスト表示。<br>
カラーバーへShift+クリックをするとデフォルトカラー。<br>
<br>
<span style="color: rgb(0,0,102);">ツールバー右クリック一覧表</span><br>
</div>
<table cellpadding="2" cellspacing="2" border="1" style="text-align: left; margin-left: 40px;">
  <tbody>
    <tr>
      <td valign="top">トーン<br>
      </td>
      <td valign="top">トーンの選択<br>
      </td>
    </tr>
    <tr>
      <td valign="top">テクスチャ<br>
      </td>
      <td valign="top">テクスチャの選択<br>
      </td>
    </tr>
    <tr>
      <td valign="top">マスク<br>
      </td>
      <td valign="top">マスクカラーを現在のカラーへ<br>
      </td>
    </tr>
    <tr>
      <td valign="top">カラーパレット<br>
      </td>
      <td valign="top">カラーの登録<br>
      </td>
    </tr>
    <tr>
      <td valign="top">カラーバー<br>
      </td>
      <td valign="top">RGB表示からHSB表示、HSB表示からRGB表示<br>
      </td>
    </tr>
    <tr>
      <td valign="top">カラーバーのボタン<br>
      </td>
      <td valign="top">5単位で移動<br>
      </td>
    </tr>
    <tr>
      <td valign="top">サイズ変更<br>
      </td>
      <td valign="top">ペン先の変更<br>
      </td>
    </tr>
    <tr>
      <td valign="top">レイヤツール<br>
      </td>
      <td valign="top">現在表示されているレイヤの表示、非表示<br>
      </td>
    </tr>
  </tbody>
</table>
<br>
</body></html>